#search-filter-modal{
    /*display: none;*/
}
#search-filter-form {
    margin: 10px 20px;
}

.filter-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    padding: 0;
    height: 28px;
}
.filter-grid .search-filter{
    width: 100%;
}

#search-filter-results {
    margin: 20px 0px 20px 20px;
    overflow: auto;
    padding-right: 20px;
}
#search-filter-results .selectable-post{
    text-decoration: none;
}
#search-filter-results .selected-post{
    text-decoration: none;
    color: forestgreen;
}
#search-filter-results .selectable-post:before{
    content: '⬜ '
}
#search-filter-results .selected-post:before{
    content: '✅ '
}

.search-filter-results-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.search-filter-results-grid li{
    grid-auto-rows: minmax(200px, auto);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;

}
#search-filter-results .search-filter-results-grid p{
    margin: 0;
    padding: 0;
}
#search-filter-results .entry-header{
    font-size: 18px;
}
