#TB_window {
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 90% !important;
    margin: 0 !important;
    top:50%!important;
    /*width: 90% !important;*/
}

#TB_ajaxContent {
    width: 100% !important;
    height: auto !important;
    max-width: 100%;
    box-sizing: border-box;
    top: 50%!important;
}
#search-filter-modal{
    /*display: none;*/
}

.filter-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    padding: 0;
    height: 28px;
}
.filter-grid .search-filter{
    width: 100%;
}
#search-filter-results .selectable-post{
    text-decoration: none;
}
#search-filter-results .selected-post{
    text-decoration: none;
    color: forestgreen;
}
#search-filter-results .selectable-post:before{
    content: '⬜ '
}
#search-filter-results .selected-post:before{
    content: '✅ '
}

.search-filter-results-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    padding: 0;
}
.search-filter-results-grid li{
    grid-auto-rows: minmax(200px, auto);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;

}
#TB_ajaxContent .search-filter-results-grid p{
    margin: 0;
    padding: 0;
}
#TB_ajaxContent .entry-header{
    font-size: 18px;
}
